{% extends 'shablon.html' %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/achiev.css') }}">

{% block title %}
Достижение
{% endblock %}

{% block section_title %}
    <h1 class="section_title">Мои достижения и награды</h1>
{% endblock %}

{% block body %}

        <div class="container">
            <div class="achiev">
                <div class="achiev_item">
                    <div class="achiev_header">
                        <a href=""> <img class="achiev_photo" src="http://placehold.it/370x270" alt=""> </a>
                    </div>
                    <div class="achiev_content">
                        <div class="achiev_text">Сертификат о прохождении супер-пупер курсов чего то там.</div>
                        <div class="achiev_date">Дата получения: 01.01.2021 </div>
                    </div>
                </div>
                <div class="achiev_item">
                    <div class="achiev_header">
                        <a href=""> <img class="achiev_photo" src="http://placehold.it/370x270" alt=""> </a>
                    </div>
                    <div class="achiev_content">
                        <div class="achiev_text">Сертификат о прохождении супер-пупер курсов чего то там.</div>
                        <div class="achiev_date">Дата получения: 01.01.2021 </div>
                    </div>
                </div>
                <div class="achiev_item">
                    <div class="achiev_header">
                        <a href=""> <img class="achiev_photo" src="http://placehold.it/370x270" alt=""> </a>
                    </div>
                    <div class="achiev_content">
                        <div class="achiev_text">Сертификат о прохождении супер-пупер курсов чего то там.</div>
                        <div class="achiev_date">Дата получения: 01.01.2021 </div>
                    </div>
                </div>

            </div>
            <div class="achiev">
                <div class="achiev_item">
                    <div class="achiev_header">
                        <a href=""> <img class="achiev_photo" src="http://placehold.it/370x270" alt=""> </a>
                    </div>
                    <div class="achiev_content">
                        <div class="achiev_text">Сертификат о прохождении супер-пупер курсов чего то там.</div>
                        <div class="achiev_date">Дата получения: 01.01.2021 </div>
                    </div>
                </div>
                <div class="achiev_item">
                    <div class="achiev_header">
                        <a href=""> <img class="achiev_photo" src="http://placehold.it/370x270" alt=""> </a>
                    </div>
                    <div class="achiev_content">
                        <div class="achiev_text">Сертификат о прохождении супер-пупер курсов чего то там.</div>
                        <div class="achiev_date">Дата получения: 01.01.2021 </div>
                    </div>
                </div>
                <div class="achiev_item">
                    <div class="achiev_header">
                        <a href=""> <img class="achiev_photo" src="http://placehold.it/370x270" alt=""> </a>
                    </div>
                    <div class="achiev_content">
                        <div class="achiev_text">Сертификат о прохождении супер-пупер курсов чего то там.</div>
                        <div class="achiev_date">Дата получения: 01.01.2021 </div>
                    </div>
                </div>
            </div>
            <div class="achiev">
                <div class="achiev_item">
                    <div class="achiev_header">
                        <a href=""> <img class="achiev_photo" src="http://placehold.it/370x270" alt=""> </a>
                    </div>
                    <div class="achiev_content">
                        <div class="achiev_text">Сертификат о прохождении супер-пупер курсов чего то там.</div>
                        <div class="achiev_date">Дата получения: 01.01.2021 </div>
                    </div>
                </div>
                <div class="achiev_item">
                    <div class="achiev_header">
                        <a href=""> <img class="achiev_photo" src="http://placehold.it/370x270" alt=""> </a>
                    </div>
                    <div class="achiev_content">
                        <div class="achiev_text">Сертификат о прохождении супер-пупер курсов чего то там.</div>
                        <div class="achiev_date">Дата получения: 01.01.2021 </div>
                    </div>
                </div>
                <div class="achiev_item">
                    <div class="achiev_header">
                        <a href=""> <img class="achiev_photo" src="http://placehold.it/370x270" alt=""> </a>
                    </div>
                    <div class="achiev_content">
                        <div class="achiev_text">Сертификат о прохождении супер-пупер курсов чего то там.</div>
                        <div class="achiev_date">Дата получения: 01.01.2021 </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}